<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3 class="text-center">Sobre Cristo Redentor</h3>
                <p class="text-justify">La Fundación Cristo Redentor les agradece, por la participación en la
                    suscripción al canal de youtube, gran actividad en la redes sociales en procura de una vida
                    saludable a nuestros
                    adultos mayores. </p>
            </div>
            <div class="col-xs-12 col-md-5">
                <a align="left" href="{% url 'home_app:index' %}"><img src="/static/img/logo_funda.png" alt=""
                        style="width: 360px; height: 160px;"> </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="col-xs-12">
                    <h4>Contactenos</h4>
                </div>
                <h5>+573187345801</h5>
                <h5>secretaria@fundacioncristoredentor.org</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">© 2022 FUNDACIÓN CRISTO REDENTOR - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>