<!-- head para PC -->
{% extends "entrada/base_entrada.html" %}
{% load static %}

{% block panel %}


<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-xs-12 col-md-10 ">

            <!-- Inicio del Bucador por categorias -->
            <div class="col-xs-12 col-md-10" style="margin-top: 1em;">
                <form class="input-group" method="GET"> {% csrf_token %}
                    <input class="input-group-field" type="text" id="buscarentrada" name="buscarentrada"
                        placeholder="Buscar ...">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Buscar">
                    </div>
                </form>
            </div>

            <!-- Lista de Actividades realizadas  -->

            <div class="row col-xs-12 col-md-10" style="width: 100%;">
                {% for entrada in entradas %}
                <div class="col-xs-12 col-md-4 ">
                    <div class="card" style="width: 100%;">
                        <img src="{{entrada.image.url}}" style="height: 200px">
                        <div class="card-section">
                            <a href="{% url 'entrada_app:edit-entradas' entrada.slug %}">
                                <h4>{{entrada.titulo | truncatechars:40}}</h4>
                            </a>
                            <p>{{entrada.resumen | truncatechars:70}}</p>
                        </div>
                    </div>
                </div>

                {% empty %}

                <h3 style="color:red">No se encontraron resultados para la consulta </h3>

                {% endfor %}
            </div>
            <!-- Fin de lista de actividades realizadas -->

        </div>

        <!-- Listado de Categorias del sistemas -->
        <div class="col-xs-12 col-md-2">
            <div class="col-xs-12 col-md-12">
                <h4>Categorias:</h4>
                <ul class="nav flex-column">
                    {% for categoria in Categorias %}
                    <li><a href="?categoria={{categoria.short_name}}">{{categoria.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Inicio de la Paginacion de las actividades realizadas -->

    <div class="row">
        <nav>
            <ul class="pagination">
                <li>
                    {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    <a class="page-link"> Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</a>
                </li>

                <li>
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% endif %}
                </li>

            </ul>
        </nav>
    </div>



</div>



{% endblock panel %}