<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load static %}

{% block title %} Crear Usuarios {% endblock %}

{% block content %}

{% include "includes/header.html" %}

<div class="container-fluid" style="margin-top: 2em;">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
            <div class="card " style="width: 100%;">
                <div class="card-header">
                    <h4 class="text-center">INGRESE DATOS DEL USUARIO</h4>
                </div>
                <br>
                <div class="card-body">
                    <form class="col-xs-12 col-md-12" method="post" enctype="multipart/form-data"> {% csrf_token%}

                        <div class="row">
                            <div class="mb-3 col-xs-12 col-md-4">
                                <label>Usuario:</label>
                                <div class="input-group form-control">
                                    {{form.username}}
                                </div>
                            </div>
                            <div class="mb-3 col-xs-12 col-md-8">
                                <label>Correo:</label>
                                <div class="form-control">
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" mb-3 col-md-6">
                                <label>Nombres:</label>
                                <div class="form-control">
                                    {{form.nombres}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label>Apellidos: </label>
                                <div class="form-control">{{form.apellidos}} </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col-xs-12 col-md-6">
                                <label>Genero:</label>
                                <div class="form-control">{{form.genero}}</div>
                            </div>
                            <div class=" mb-3 col-xs-12 col-md-6">
                                <label>Permiso:</label>
                                <div class="form-control">{{form.ocupation}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col-xs-12 col-md-6">
                                <label>Contraseña: </label>
                                <div class="form-control">{{form.password1}}</div>

                            </div>
                            <div class="mb-3 col-xs-12 col-md-6">
                                <label>Repetir Contraseña:</label>
                                <div class="form-control">{{form.password2}}</div>

                                {% for e in form.password2.errors %}
                                <p class="alert alert-danger" role="alert">{{e}}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <button type="submit" class=" col-12 btn btn-outline-success">Registrar</button>
                    </form>
                    <hr class="dropdown-divider">
                    <div class="col-12 margin-top: 2em">
                        <a href="{% url 'users_app:user-listado' %}" class="btn col-12 btn-outline-secondary">Regresar
                            al
                            Listado</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}