{% extends "users/base_users.html" %}
{% load static %}

{% block title %} Listado de Usuarios del sistema {% endblock %}

{% block content %}

{% include "includes/header.html" %}

<div class="container-fluid">
    <section class="altura">
        <div class="row col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12 align-center ">
                <h3 class="col" style="margin-bottom: 1em; text-align: center;">Usuarios del Sistema </h3>
                <h4 class=" col color_fecha">Fecha: {{fecha}}</h4>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Ultima Conexion</th>
                            <th scope="col">Permisos</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.nombres }}</td>
                            <td>{{ usuario.apellidos}}</td>
                            <td>{{ usuario.last_login }}</td>
                            <td>{{ usuario.get_ocupation_display }}</td>
                            <td>
                                {% if usuario.is_active %}
                                <span class="label success">Activo</span>
                                {% else %}
                                <span class="label alert">Inactivo</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'users_app:user-update' usuario.pk %}"
                                    class="btn btn-outline-warning">Actualizar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-6"><a href="{% url 'users_app:user-create' %}"
                            class="col-12 btn btn-outline-success">Agregar Usuario</a></div>
                    <br>
                    <div class="col-xs-12 col-md-6"><a href="{% url 'home_app:index' %}"
                            class="col-12 btn btn-outline-secondary">Inicio</a></div>
                </div>
            </div>
        </div>

    </section>
</div>

{% endblock content %}